<div class="side_header">
  <div class="current_user_name">
    Tom(tentative)
  </div>
  <div class="make_room">
    チャットを作成する
  </div>
</div>

<ul class="room_list">
  <li class = "room_name">
    <a href='#'>techroom1(tentative)</a>
  </li>
  <li class = "room_name">
    <a href='#'>techroom2(tentative)</a>
  </li>
</ul>